<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h4>Novo meme</h4>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <form action="/create" method="post">
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
          <label for="type">Tipo</label>
          <input type="text" class="form-control" id="type" name="type">
        </div>
        <div class="form-group">
          <label for="link">Link</label>
          <input type="text" class="form-control" id="link" name="link">
        </div>
        <button type="submit" class="btn btn-primary">Criar</button>
      </form>
    </div>
  </div>
</div>