<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h4>Meme criado com sucesso.</h4>
      <a href="/" class="btn btn-primary">Voltar para o início.</a>
    </div>
  </div>
</div>